<div class="my-component">
    Track my cat

    <div>
        Breed: <input type="text" />
    </div>
    <div>
        Color: <input type="text" />
    </div>
    <div>
        <button type="submit">Track</button>
    </div>
</div>
