.my-component {
    border: 2px dashed green;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
}

.inputField
{
    padding: 10px;
}

.rightside
{
    text-align: right;
}
