@page "/"

@if (resultsToShow == null)
{
    <CatTracker OnTrackComplete="OnTrackComplete" />
}
else
{
    <div>
        <button type="submit" @onclick="() => resultsToShow = null">Track again</button>
    </div>
    <TrackResults Results="@resultsToShow" />
}

@code
{
    IList<CatTrackerResult> resultsToShow;

    private void OnTrackComplete(IList<CatTrackerResult> results)
    {
        resultsToShow = results;
    }
}
