@inject TrackerState TrackerState

<ScrollView>
    @if (Results.Any())
    {
        <StackLayout Margin="10">
            @foreach (var result in Results)
            {
            <Label Padding="10" FontSize="25">
                <Span Text="@result.Name" FontAttributes="FontAttributes.Bold" />
                <Span Text=" (" />
                <Span Text="@result.Breed" />
                <Span Text=", " />
                <Span Text="@result.Color" />
                <Span Text=") " />
                <Span Text="@result.Distance.ToString("#.##")" />
                <Span Text="km away" />
            </Label>
            }
        </StackLayout>
    }
    else
    {
        <Label Text="Sorry, no cats match" FontSize="30" />
    }
</ScrollView>

@code {
    [Parameter] public IList<CatTrackerResult> Results { get; set; }
}
